.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 15px 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
  }
  
  .navbar .logo img {
    display: block;
  }

  .navbar .logo .logo-svg{
    fill:#fff;
    width: 130px;
  }

  .navbar .navbar-phone a{
    color:#fff;
    display: flex;
    align-items: center;
  }

  .navbar-phone-icon{
    width: 30px;
    margin-right: 10px;
    fill: #fff;
  }

  
  .navbar .navbar-phone a span{
    font-size: 20px;
  }



  .navbar.scrolled {
    background-color: #fff;
  }

  .navbar.scrolled .navbar-phone-icon{
    fill: #282D31;
  }

  .navbar.scrolled .logo .logo-svg{
    fill:#282D31;
  }

  .navbar.scrolled ul li a{
    color:#282D31;
  }

  .navbar.scrolled .navbar-phone a{
    color:#282D31 !important;
  }
  
  .navbar ul li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #cbd5e1;
  }
  
  .navbar .flex-none a[href^="tel"] {
    color: white;
    font-size: 16px;
    font-weight: 600;
  }