.vertical-slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide{
    height: 100% !important;
}

.slick-slide img{
    width:100%;
    height: 100%;
}

.slick-arrow{
    position: absolute;
}

.slick-slide-item{
    position: relative;
}

.slider-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-text-sub{
    margin-top: -10%;
}


.slider-text-first{
    margin-right: 80px;
    font-size: 100px;
    line-height: 80px;
    font-weight: 700;
}

.slider-text-second{
    margin-left: 80px;
    font-size: 100px;
    line-height: 80px;
    font-weight: 700;
}